<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Listed</title>
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
</head>
<body class="mx-auto max-w-2xl">
    <div class="border-4 border-zinc-900 rounded-md my-2 p-2 flex gap-2 items-center">
        <a href="/"><img height="35" width="35" src="/bigEarsNeutral.svg" alt="face icon" /></a>
        <h1><a href="/blog">{{ .Title }}</h1>
    </div>
    {{ range .Pages }}
        <ul>
            <li><a href="{{ .URL }}">{{ .Title }}</a></li>
        </ul>
    {{ end }}
</body>
</html>